.detail-card {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
    padding: 40px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    margin: 50px auto;
}

.detail-card img {
    width: 500px;
    height: 500px;
    border-radius: 12px;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.detail-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 400px;
    margin-top: 30px;
}

.item-detail-info h2 {
    font-size: 28px;
    color: #222;
    margin-bottom: 10px;
}

.item-detail-description {
    font-size: 16px;
    color: #666;
    margin-bottom: 15px;
}

.item-detail-price {
    font-size: 24px;
    font-weight: bold;
    color: #111;
    margin-bottom: 20px;
}