.navbar {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 0px 80px 0px 20px;
  margin: -10px -8px 20px -10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 500;
}

.navbar-blur {
  filter: blur(3px);
}

.logo-navbar {
  width: 150px;
  height: 150px;
  margin: 0px 0px 0px 35px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  font-size: 20px;
}

.nav-links a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.nav-links a:hover {
  color: #848484;
}

.cart {
  width: 26px;
}

.cart-count {
  background: red;
  color: white;
  padding: 2px 6px;
  border-radius: 50%;
  font-size: 12px;
  position: relative;
  top: -10px;
  right: 10px;
}
